<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="notizie/new.css">
  <title>Hello, world!</title>
</head>

<body>
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-auto">
          <img src="stemma.png" alt="">
        </div>
        <div class="col-md">
          <h1>CROCE ROSSA ITALIANA</h1>
          <h3>Comitato Locale Macerata</h3>
        </div>
        <div class="col-md-auto">
          <img src="stemma.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <tbody>
    <div class="row">
      <div class="col-sm-2">
          <a href="/" class="btn btn-primary-home" role="button" aria-pressed="true">Home Page</a>
      </div>
      <div class="col-md">
        <% notizie_cri.forEach(function(notizie) { %>
          <div class="row">
            <div class="container-fluid">
              <div class="jumbotron">
                <h1 class="display-6">
                  <%=notizie.titolo %>
                </h1>
                <p class="lead"><%=notizie.data %></p>
                <hr class="my-4">
                <p>
                  <%=notizie.testo %>
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </tbody>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>

</html>