.navbar-inverse {
    background-color: red;
   }
   .navbar{
     border-radius: 0px;
     border:none;
   }
   .nav.navbar-nav li a{
     color: white;
   }
   .nav.navbar-nav active{
     color: white;
   }
   .carousel-caption{
     bottom: 10%;
   }
   .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}